{% extends '@App/Layout/layout-two-col-4-8.html.twig' %}

{% block regionRight %}
    <div class="block block--page-view">
        <div class="block-content">
            <h2 class="field field-title">{{ page.title }}</h2>
            <div class="field field-body">{{ page.body }}</div>
            <div class="field field-category">{{ page.category.name }}</div>
            <div class="field field-date_add">{{ page.dateAdd|date('d-m-Y') }}</div>
            <div class="field field-comments">
                <div class="comment-preview">
                    <h2 class="comment-title">Comments</h2>
                    {{ form(comment_form) }}
                    <div class="list">
                        {% for comment in page.comments %}
                            <div class="list-item">
                                {{ include('@Comment/ViewMode/teaser.html.twig', {'item' : comment}) }}
                                <li><a href="{{ path('comment_edit', { 'id' : comment.id }) }}">Edit</a></li>
                                <li><a href="{{ path('comment_delete', { 'id' : comment.id }) }}">Delete</a></li>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}